.about {
    display: flex;
    justify-content: center;

    flex-direction: column;
    padding-left: 1rem;
    
}

.about > a {
    text-decoration: none;
    color: black;
    z-index: 300;
}

.about > a:hover {
    cursor: pointer;
    color: #CF8B7A;
}

@media screen and (max-width: 604px) {
    .textStyle {
        font-size: 4rem;
    }
    .about > h1 {
        line-height: 1;
    }

  }

  @media screen and (min-width: 2560px) {
    .about {
      padding-left: 40rem;
    }
  }