.footer {
    display: flex;
    flex-direction: row-reverse;
    /* background-color: black; */
    color: #CF8B7A;
    width: 100%;
    padding: .1rem 7.5rem .1rem 0;
    font-family: Menlo;
    font-weight: 100;
    position:fixed;
    bottom: 0;
}