.footer {
    display: flex;
    flex-direction: row-reverse;
    color: #CF8B7A;
    width: 100%;
    padding: .1rem 7.5rem .1rem 0;
    font-family: Menlo;
    font-weight: 100;
    position:fixed;
    bottom: 0;
}

@media screen and (max-width: 425px) {
    .footer {
      flex-direction: row;
      padding-left: 1rem;
    }
  }
@media screen and (min-width: 1440px) {
    .footer {
      padding-right: 10rem;
    }
  }
@media screen and (min-width: 2560px) {
    .footer {
      padding-right: 20rem;
    }
  }