.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: Menlo;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: 140px;
    letter-spacing: 0em;
    text-align: left;
} 


