.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: Menlo;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: 140px;
    letter-spacing: 0em;
    text-align: left;
    color:black;
} 
.slidingHeading {
    color: white;
}

h2 {
    font-family: Menlo;
    font-weight: 100; 
    color: black;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 100px;
        line-height: 1;
    }
    h2 {
        font-size: 15px;
    }
  }

@media screen and (min-width: 2560px) {
    .slidingHeading {
        font-size: 400px;
        line-height: 1;
    }
  }