.viewContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  object-fit: cover;
}

.imgDiv {
  height: 100%;
}

.Amanda {
  position: absolute;
  right: 0;
  top: 0;
  height: ;
  max-height: 100%;
  width: 27rem;
  object-fit: cover;
}

@media screen and (max-width: 706px) {
  .Amanda {
    opacity: 50%;
  }
}
